<section id="home">
  <section id="sectionOne">
    <div id="sectionOneContent">
      <h2>Bienvenu ! Je suis</h2>
      <div id="sectionOneTitle">
        <h1 id="sectionOneName">
          <span id="sectionOneLastName">Anthony</span>
          <span id="spaceName"> </span>
          <span id="sectionOneName">BOSSUT</span>
        </h1>
      </div>
      <h3>Dévellopeur web / web mobile</h3>
      <h3>Front end et Back end</h3>
      <div id="sectionOneButton">
        <a id="btnCV" href="">Download CV</a>

      </div>
    </div>
  </section>
  <!-- 
  <section id="sectionTwone">
    <h3>Anthony BOSSUT</h3>
    <div>
      <ul>
        <li>Developpeur web</li>
        <li>Developpeur mobile</li>
        <li>Developpeur web mobile</li>
        <li>Developpeur web mobile</li>
        <li>Developpeur web mobile</li>
        <li>Developpeur web mobile</li>
      </ul>
    </div>
  </section>
</section>
-->