<section id="home">
  <!--section 1 -->
  <section id="sectionOne">
    <div id="sectionOneContent">
      <h2>Bienvenu ! Je suis</h2>
      <div id="sectionOneTitle">
        <h1 id="sectionOneName">
          <div class="divFirstName">
            <span class="letter" *ngFor="let letter of tabfirstName">
              {{ letter }}
            </span>
          </div>
          <div class="divLastName">
            <span class="letter" *ngFor="let letter of tablastName">
              {{ letter }}
            </span>
          </div>
        </h1>
      </div>
      <h3>Dévellopeur web / web mobile</h3>
      <h3>Front end et Back end</h3>

      <div id="sectionOnelistButton">
        <div><a id="btnCV" href="">Download CV</a></div>
        <div><a href="#"></a><img src="assets/svg/menu/linkedin_icon.svg" alt="linkedin"></div>
        <div><a href="#"></a><img src="assets/svg/logo-tech/github_logo.svg" alt="Github"></div>
      </div>
    </div>
  </section>
  <!--section logo -->
  <section id="sectionListLogo">
    <ul id="listLogo">
      <div class="d-flex">
        <img class="rotating-image" src="assets/svg/logo-tech/html5_logo.svg" alt="Github">
        <img class="rotating-image" src="assets/svg/logo-tech/css3_logo.svg" alt="Linkedin">
      </div>
      <div class="d-flex">
        <li class="rotating-image"><img src="assets/svg/logo-tech/angular_logo.svg" alt="Symfony"></li>
        <li class="rotating-image"><img src="assets/svg/logo-tech/apiplatform_logo.svg" alt="ApiPlatform"></li>
        <li class="rotating-image"><img src="assets/svg/logo-tech/symfony_logo.svg" alt="Angular"></li>
      </div>
      <div class="d-flex">
        <li class="rotating-image"><img src="assets/svg/logo-tech/javascript_logo.svg" alt=""></li>
        <li class="rotating-image"><img src="assets/svg/logo-tech/typescript_logo.svg" alt=""></li>
      </div>
    </ul>
  </section>
  <!--section 2 -->
  <section id="sectionTwone">
    <!--   <app-circular-list></app-circular-list> -->
  </section>
</section>