@import '../../styles.sass'

//$listColor: ($bleu, $orange, $noir, $violet, $red)

section#home
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    width: 100%
    margin-top: $height-header
    height: calc( 100vh + $height-header)

#sectionOne
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 100%

#sectionOneContent

    display: flex
    flex-direction: column
    align-items: center
    align-content: center

#sectionOneName
    color: #d18007
    font-size: 3rem
    display: flex
    flex-direction: column
    align-items: flex-end
    .divFirstName, .divLastName
        display: flex
        flex-direction: row
        .letter
            color: #ff9b04
            margin: 1px
            //text-shadow: 0 0 15px #fcfbf9

#sectionOneTitle
    width: 100%
    display: flex
    align-items: flex-end
    h1
        font-size: 5rem
        color: white
        text-align: center

#sectionOnelistButton
    margin: 50px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-around
    width: 100%
    height: 100%

    div
        #btnCV
            padding: 15px
            background-color: $red-angular
            border: 1px solid rgba(0, 0, 0, 0.2)
            border-radius: 5px
            color: white
        img
            width: 50px
            height: 50px
            object-fit: cover
            object-position: center

section#sectionListLogo
    //background-color: $red-angular
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: center
    width: 100%
    height: fit-content
    z-index: -10

    .ligneLogo
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        div
            display: flex
            justify-content: center
            img
                object-fit: contain
                object-position: center
                width: 50px
                height: 50px

@screen and (minx-width: 768px)
