/* You can add global styles to this file, and also import other style files */
.containerSpider {
  border: 1px solid red;
  position: absolute;
  right: 0;
  top: 0;
}

.spiderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.spiderWeb {
  background-color: #DEDEDE;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5px;
  height: 10px;
}

.spider {
  margin: 0 0 0 8px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 10%;
}

.rotating-image {
  height: auto;
  animation: flipY 5s linear infinite;
  display: block;
  margin: auto;
  transform-style: preserve-3d;
}

@keyframes flipY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
@keyframes fliphedding {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounceRight {
  0%, 100% {
    transform: translateX(0) translatey(10) scaleY(1);
  }
  25% {
    transform: translateX(25%) scaleY(1.5);
  }
  50% {
    transform: translateX(50%) scaleY(0.8);
  }
  75% {
    transform: translateX(75%) scaleY(1.5);
  }
  80% {
    transform: translateX(80%) scaleY(1.5);
  }
  85% {
    transform: translateX(85%) scaleY(1.5);
  }
  100% {
    transform: translateX(100%) scaleY(1);
  }
}
.cadeaux {
  animation: bounceRight 3s infinite ease-in-out;
  width: 100px;
  height: auto;
}

/* // $asset: "assets/images/logo-technologie/" */
body {
  background-color: #333;
  color: white;
  font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.cardsJob {
  background-color: white;
  border-radius: 8px;
  color: black;
  margin: 10px;
  padding: 0px;
  display: flex;
  align-items: center;
  width: 270px;
  height: -moz-fit-content;
  height: fit-content;
}

.cardJobContent {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.year {
  color: #C50836;
  padding: 5px;
  margin: 0;
}

.year-company {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.company {
  color: #C50836;
  margin: 0;
  padding: 5px;
  font-size: 0.8rem;
}

.bulle {
  background-color: #C50836;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.bulle:hover {
  cursor: pointer;
}

.bulle-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 100%;
  margin: 5px;
}

.line {
  background-color: white;
  width: 2px;
  height: 100px;
}

.content {
  background-color: white;
  border-radius: 5px;
  align-content: flex-start;
}

.poste {
  margin: 0;
  padding: 5px;
  color: red;
  font-size: 0.8rem;
}

.companyAndButton {
  display: flex;
  justify-content: space-between;
}

.skill {
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: 0;
  list-style: none;
}
.skill li {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: fffff;
  color: black;
  font-size: 0.8rem;
}/*# sourceMappingURL=card-job.component.css.map */