
#sectionTechnologies
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 100%

    #sectionListTechno
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        width: 100%
        height: 100%

        .cardTechno
            background-color: #ffff
            border: 2px solid #D94423
            border-radius: 8px
            width: 270px
            height: fit-content
            padding: .5rem
            margin: 10px
            color: black
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center

        .cardTechnoCategory
            width: 100%
            margin: 1rem
            font-size: 1.5rem
            font-weight: bold
            text-align: center
            color: #d18007

        .cardListTechno
            padding-left: 0
            list-style: none
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            width: 100%
            height: 100%
            margin: 0
        .techno
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center

            img
                object-fit: cover
                width: 100px
                height: 100px

@media screen and (min-width: 768px)
    #sectionTechnologies
        display: flex
        flex-direction: row
        align-items: flex-start
    .cardListTechno
        flex-direction: row
